.price-column-first{
    grid-column: 2 / 5;
    
}

.price-column-middle{
    grid-column: 5 / 9;
}

.price-column-last{
    grid-column: 9 / 12;
}

.price-column{
    background-color: white;
    box-shadow: 0 7px 30px rgba(52,31,57,0.1);
    
    grid-row: 4 / -4;
   
    padding: 2rem 0;
    transform: scale(1);
    
    border-radius: 8px;

    &:first-child{
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    &:last-child{
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}