
@media #{$media-mobile-l-max}{
    .price-column-first{
        grid-row: 1 / 2;
        margin-bottom: 1rem;
    }

    .price-column-middle{
        grid-row: 5 / 6;
        
        border-top-right-radius: 0;
        border-top-left-radius: 0;

    }

    .price-column-last{
        grid-row: 11 / 12;
    }

    .price-column{
        grid-column: 2/-2;


        &:first-child{
            border-top-right-radius: 8px;
            margin-top: 1rem;
        }

    
        &:last-child{
            border-top-right-radius: 0;
            border-bottom-left-radius: 8px;
            margin-bottom: 1rem;
        }
    }

    footer{
        margin-top: 70rem;
    }
}

@media #{$media-mobile-l-min}{
    footer{
        margin-top: 2rem;
    }
}

@media #{$media-mobile-galaxy-fold}{
    footer{
        margin-top: 64rem;
    }
}